body{
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.checkbox-list{
	flex-direction:row;
	margin-bottom:10px;
}

.checkbox-item{
	display: inline-block;
	zoom:1.3;
	
}

button {
	margin: 4px;
	box-shadow: 0px 0px 4px 0px #00000029;
	background-color:#F6F6F6;
	border-radius:2px;
	border:1px solid #F6F6F6;
	display:inline-block;
	cursor:pointer;
	color:#707070;
	font-family:Arial;
	font-size:12px;
	text-decoration:none;
	width: 80px;
	height: 30px;
}

input{
	margin-left: 20px;
	border: 0px solid #ccc;
	font-size: 14px;
	color: #707070;
	width: 120px;
}

.logo{
	top: 5px;
	left: 4px;
	width: 50px;
	height: 20px;
	float: left;
}

.logo-img{
	width: 100%;
	height: 100%;
	margin: 5px 0px 0px 2px;
}

.main-title{
	color: #fff;
	font-size:11px;
	text-align: center;
	margin-top:8px;
}

.main-title-container{
	display: inline-block;
	vertical-align: middle;
	height:35px;
    width:230px;
    margin-left:-50px;
    margin-top:-10px;
    border-radius: 50% / 100%;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
    background:#4A74D7;
}

.content-container{
	display: inline-block;
	vertical-align: middle;
}

.pi-select{
	margin-top: 30px;
}

.btn-me {
	box-shadow: 0px 0px 4px 0px #4A74D7;
	background-color:#4A74D7;
	border:1px solid #4A74D7;
	color:#ffffff;
}

.home-title{
	font-weight: bold;
	font-size: 16px;
	margin-top: 30px;
}

.time-title{
	font-size: 13px;
	margin-top: -2px;
	color: #949494;
}

.time-title2{
	font-size: 15px;
	margin-bottom: 5px;
	margin-top: 5px;
	color: #949494;
}

.home-title-mini{
	font-weight: bold;
	font-size: 14px;
	margin-top: 30px;
}

.table-th{
	width: 320px;
	height: 60px;
	font-size: 12px;
	border: 2px solid #a8a8a8;
	border-collapse: collapse;
	margin: 0 auto;
	background: #ffffff;
}

.table-connection{
	font-size: 18px;
	border: 2px solid #949494;
	margin: 0 auto;
	background: #ffffff;
	width:90px;
	height:30px;
}

.td-connection{
	border: 1px solid #a8a8a8;
	width:20px;
	height:20px;
	background-color: #6eff3d;
}

.time-box{
	margin:3px 0px 0px 0px;
}

.tr-bar{
	margin: 0 auto;
	border: 1px solid #a8a8a8;
}

.pi-state{
	float:right;
	font-weight: bold;
	font-size: 10px;
	background: #F6F6F6;
	width: 150px;
	height: auto;
	margin: 5px 0px 20px 0px;
}

.hr-div{
	margin-top: 20px;
	color: #a6c0ff;
    background-color: #a6c0ff;
	clear:both;
}

.table-start{
	margin: 0 auto;
	border: 0px solid #a8a8a8;
	border-collapse: collapse;
}

.btn-start{
	box-shadow: 0px 0px 4px 0px #4A74D7;
	background-color:#4A74D7;
	border:1px solid #4A74D7;
	color:#ffffff;
	font-size: 14px;
	height: 70px;
	width: 80px;
}

.btn-startAll{
	box-shadow: 0px 0px 4px 0px #4A74D7;
	background-color:#5655d4;
	border:1px solid #5655d4;
	color:#ffffff;
	font-size: 14px;
	height: 70px;
	width: 80px;
}

.btn-end{
	box-shadow: 0px 0px 4px 0px #FF4765;
	background-color:#FF4765;
	border:1px solid #FF4765;
	color:#ffffff;
	font-size: 14px;
	height: 70px;
	width: 100px;
}

.btn-endAll{
	box-shadow: 0px 0px 4px 0px #FF4765;
	background-color:#ff4750;
	border:1px solid #ff4750;
	color:#ffffff;
	height: 70px;
	width: 100px;
}

.button2{
	margin-top:30px;
	margin-right: 5px;
	float:right;
	font-size: 9px;
	width: 80px;
	height: 20px;
	color:#ffffff;
	box-shadow: 0px 0px 2px 0px #4A74D7;
	background-color:#4A74D7;
	border:1px solid #4A74D7;
}

.button3{
	font-size: 12px;
	width: 55px;
	height: 30px;
	color:#ffffff;
	box-shadow: 0px 0px 2px 0px #4A74D7;
	background-color:#4A74D7;
	border:1px solid #4A74D7;
}
.button4{
	font-size: 8px;
	width: 55px;
	height: 25px;
	color:#ffffff;
	box-shadow: 0px 0px 2px 0px #f59b42;
	background-color:#f59b42;
	border:1px solid #f59b42;
}
.button5{

	font-size: 9px;
	width: 40px;
	height: 20px;
	color:#ffffff;
	box-shadow: 0px 0px 2px 0px #4A74D7;
	background-color:#4A74D7;
	border:1px solid #4A74D7;
}

.bt1{
	margin-left: 85px;
}


.bt2{
	margin-left: 80px;
}

.table-div{
	margin: 0 auto;
	border:1px solid #a8a8a8;
	width: 320px;
}

.table-div2{
	margin: 0 auto;
	border:1px solid #a8a8a8;
	width:320px;
	justify-content: center;
}

.beforeResult_list{
	float:left;
	border:1px solid #4A74D7;
}

.beforeResult_result{
	float:left;
	border:1px solid #4A74D7;
	height:fit-content;
}

.table-result{
	width: 320px;
	height: 150px;
	font-size: 11px;
	border: 0px solid #a8a8a8;
	border-collapse: collapse;
	margin: 0 auto;
}

.tr-bar2{
	margin: 0 auto;
	border-bottom: 1px solid #a8a8a8;
}

.btn-re{
	float:right;
	margin-top: 15px;
	margin-right: 20px;
}

.btn-back{
	float: left;
	width:28px;
	height:28px;
	margin-top: 15px;
	margin-left: 20px;
	border-radius:50%;
	font-size:14px;
	text-align:center;
	color: #F6F6F6;
	background: rgb(112,112,112);
}

.graph-title{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	font-size:15pt;
	font-weight: bold;
}


.result{clear:both;}

.content-summary{
	width: 360px;
	margin: 4px;
	padding: 5px 10px 10px 10px;
	box-shadow: 0px 0px 4px 0px #00000029;
	background-color:#F6F6F6;
	border-radius:2px;
	border:1px solid #F6F6F6;
	display:inline-block;
	text-decoration:none;
}

.content-summary2{
	width: content-fit;
	margin: 4px;
	padding: 5px 10px 5px 10px;
	box-shadow: 0px 0px 4px 0px #00000029;
	background-color:#F6F6F6;
	border-radius:2px;
	border:1px solid #F6F6F6;
	display:inline-block;
	text-decoration:none;
	text-shadow:0px 1px 0px #F6F6F6;
}

.ver-line{
	border: 1px solid #a8a8a8;
}

.thick{
	border-right:3px solid;
}

.peak{
	background-color: #ffee00;
}

.modal{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width:100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	}
	
.modal-content{
	background-color: #fefefe;
	margin:15% auto;
	padding: 20px;
	border: 1px solid #888;
	width:98%;
}
	

.close{
	color:#aaa;
	float:right;
	font-size:28px;
	font-weight: bold;
}

.close:hover,
.close:focus{
	color:black;
	text-decoration:none;
	cursor: pointer;
}
