body{
	position: absolute;
	text-align: center;
	width: 97%;
	height: 100%;
	top: 0;
	left: 0;
}

*{
	font-family: 'NanumSquare', sans-serif;
}

#chart{
	transform: translate(-20px, 0px);
}

/* Header Css */
.logo-header{
	background-color: #fff2e4;
	width:100%;
}

.logo-img{
	width: 110px;
	height: 35px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.main-title-container{
	display: inline-block;
	vertical-align: middle;
    width:100%;
  
    border-radius: 5% / 50%;

    border-bottom: solid #ff5c33;
}

.main-title{
	font-size:18px;
	text-align: center;
	font-weight: bold;
}
/* Header Css End */

/* Pi Button, Time, Start Button CSS */
.information-container{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	background-color: #f0f0f0;
	width:100%;
}

.container-padding{
	padding-left:10px;
	padding-right:10px;
}

.home-title{
	font-weight: bold;
	font-size: 18px;
	margin-top:30px;
	text-align:left;
	margin-bottom:10px;
}

.sub-title{
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}

.information-box{
	margin-bottom: 15px;
	position: relative;
	height:60px;
}

.padding-add{
	padding-top: 4px;
}

/* Pi Button */
.mobile-margin{
	margin-right: 4px;
}

.pi-select-button{
	width: 100%;
	height: 60px;
	border-radius: 10px;
	font-size: 27px;
	color: black;
	position: relative;
}

.connection-status-box{
	width:19px;
	height:19px;
	border-radius: 4px;
	background-color:gray;
	position:absolute;
	top:5px;
	right:6px;
}

.start-button-container{
	margin-top: 15px;
	margin-bottom:15px;
	display: inline-block;
	width:95%;
	background-color:white;
	border-radius:20px;
}

/* Time, cycle */
.information-text-box{
	padding-left: 20px;
	font-size: 16px;
	color: black;
}

.information-text-box.two{
	padding-left: 20px;
}

.text-bold{
	font-weight: bold;
}
.text-gray{
	color:gray;
}

.cycle-time-box{
	
}

/* Start Button Box */
#cycle{
	width:100%;
	margin:0px;
	background: #5c7bd1;
	margin-bottom: 13px;
}

.btn-startAll{
	background-color:#2243a1;
	color:#ffffff;
	font-size: 18px;
	font-weight:bold;
	height: 55px;
	width: 80%;
	border-radius:20px;
	margin-top:10px;
}

.btn-endAll{
	background-color:#ff4750;
	color:#ffffff;
	font-size: 18px;
	font-weight:bold;
	height: 55px;
	width: 170px;
	border-radius:20px;
	margin-top:10px;
}

/* Summary Table */

.summary-table{
	width: 100%;
	font-size: 16px;
	border-spacing: 0 13px;
}

.bottom-border{
	border-bottom: 2px solid #f0f0f0;
	padding-bottom: 3px;
}

.bottom-padding{
	padding-bottom: 13px;
}

.th-title{
	background-color: #f0f0f0;
	
	padding:7px;
}


.button-current{
	margin-top:0px;
	margin-right: 15px;
	float:right;
	font-size: 12px;
	width: 110px;
	height: 30px;
	color:#ffffff;
	box-shadow: 0px 0px 2px 0px #2243a1;
	background-color:#2243a1;
	border:1px solid #2243a1;
}

.button-past{
	margin-top:0px;
	margin-right: 15px;
	float:right;
	font-size: 12px;
	width: 110px;
	height: 30px;
	color:#ffffff;
	box-shadow: 0px 0px 2px 0px #c2c2c2;
	background-color:#c2c2c2;
	border:1px solid #c2c2c2;
}

/*************************************************************/


.checkbox-list{
	flex-direction:row;
	margin-bottom:10px;
}

.checkbox-item{
	display: inline-block;
	zoom:1.3;
	
}

button {
	margin: 4px;
	box-shadow: 0px 0px 4px 0px #00000029;
	background-color:#F6F6F6;
	border-radius:2px;
	border:1px solid #F6F6F6;
	display:inline-block;
	cursor:pointer;
	color:#707070;
	font-family:Arial;
	font-size:12px;
	text-decoration:none;
	width: 80px;
	height: 30px;
}

input{
	margin-left: 20px;
	border: 0px solid #ccc;
	font-size: 14px;
	color: #707070;
	width: 120px;
}

.logo{
	top: 5px;
	left: 4px;
	width: 50px;
	height: 20px;
	float: left;
}

.content-container{
	display: inline-block;
	vertical-align: middle;
}

.pi-select{
	margin-top: 30px;
}

.btn-me {
	box-shadow: 0px 0px 5px 0px #007bff;

	border:1px solid #007bff;

}

.time-title{
	font-size: 13px;
	margin-top: -2px;
	color: #949494;
}

.time-title2{
	font-size: 15px;
	margin-bottom: 5px;
	margin-top: 5px;
	color: #949494;
}

.home-title-mini{
	font-weight: bold;
	font-size: 14px;
	margin-top: 30px;
}

.table-th{
	width: 370px;
	height: 60px;
	font-size: 12px;
	border: 2px solid #a8a8a8;
	border-collapse: collapse;
	margin: 0 auto;
	background: #ffffff;
}

.time-box{
	margin:3px 0px 0px 0px;
}

.tr-bar{
	margin: 0 auto;
	border: 1px solid #a8a8a8;
}

.pi-state{
	float:right;
	font-weight: bold;
	font-size: 10px;
	background: #F6F6F6;
	width: 150px;
	height: auto;
	margin: 5px 0px 20px 0px;
}

.hr-div{
	margin-top: 20px;
	color: #a6c0ff;
    background-color: #a6c0ff;
	clear:both;
}

.table-start{
	margin: 0 auto;
	border: 0px solid #a8a8a8;
	border-collapse: collapse;
}


.button2{
	margin-top:30px;
	margin-right: 5px;
	float:right;
	font-size: 9px;
	width: 80px;
	height: 20px;
	color:#ffffff;
	box-shadow: 0px 0px 2px 0px #4A74D7;
	background-color:#4A74D7;
	border:1px solid #4A74D7;
}

.button3{
	font-size: 12px;
	width: 55px;
	height: 30px;
	color:#ffffff;
	box-shadow: 0px 0px 2px 0px #4A74D7;
	background-color:#4A74D7;
	border:1px solid #4A74D7;
}
.button4{
	font-size: 8px;
	width: 55px;
	height: 25px;
	color:#ffffff;
	box-shadow: 0px 0px 2px 0px #f59b42;
	background-color:#f59b42;
	border:1px solid #f59b42;
}
.button5{

	font-size: 9px;
	width: 40px;
	height: 20px;
	color:#ffffff;
	box-shadow: 0px 0px 2px 0px #4A74D7;
	background-color:#4A74D7;
	border:1px solid #4A74D7;
}

.bt1{
	margin-left: 85px;
}


.bt2{
	margin-left: 130px;
}

.table-div{
	margin:auto;
	border:1px solid #a8a8a8;
	width: 95%;
}

.table-div2{
	
	border:1px solid #a8a8a8;
	justify-content: center;
}

.beforeResult_list{
	float:left;
	border:1px solid #4A74D7;
	width:100%;
}

.beforeResult_result{
	width:100%;
	float:left;
	border:1px solid #4A74D7;
	height:fit-content;
}

.table-result{
	width: 95%;
	height: 150px;
	font-size: 13px;
	border: 0px solid #a8a8a8;
	border-collapse: collapse;
	margin: 0 auto;
	margin-top: 50px;
}

.table-result.past{
	margin-top: 20px;
}

.tr-bar2{
	margin: 0 auto;
	border-bottom: 1px solid #a8a8a8;
}

.btn-re{
	float:right;
	margin-top: 15px;
	margin-right: 20px;
}

.btn-back{
	float: left;
	width:28px;
	height:28px;
	margin-top: 15px;
	margin-left: 20px;
	border-radius:50%;
	font-size:14px;
	text-align:center;
	color: #F6F6F6;
	background: rgb(112,112,112);
}

.graph-title{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	font-size:15pt;
	font-weight: bold;
}


.result{clear:both;}

.content-summary{
	width: 360px;
	margin: 4px;
	padding: 5px 10px 10px 10px;
	box-shadow: 0px 0px 4px 0px #00000029;
	background-color:#F6F6F6;
	border-radius:2px;
	border:1px solid #F6F6F6;
	display:inline-block;
	text-decoration:none;
}

.ver-line{
	border: 1px solid #a8a8a8;
}

.thick{
	border-right:3px solid;
}

.thick2{
	border-right:3px solid;
	border-left:3px solid;
}

.peak{
	background-color: #ffee00;
}

.modal{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width:100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	}
	
.modal-content{
	background-color: #fefefe;
	margin:15% auto;

	border: 1px solid #888;
	width:98%;
}
	

.close{
	color:#aaa;
	float:right;
	font-size:28px;
	font-weight: bold;
}

.close:hover,
.close:focus{
	color:black;
	text-decoration:none;
	cursor: pointer;
}
