body{
	font-weight:normal;
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.checkbox-list{
	flex-direction:row;
	margin-bottom:15px;
}

.checkbox-item{
	display: inline-block;
	zoom:1.8;
	
}

.pi-list{
	display:block;
	flex-wrap: wrap;
	flex-direction: row;
	
}

.hr-div{
	margin-top: 20px;
	color: #a6c0ff;
    border-color: #a6c0ff;
    background-color: #a6c0ff;
	clear:both;
}

.content-summary{
	width: 800px;
	margin: 4px;
	padding: 5px 10px 10px 10px;
	box-shadow: 0px 0px 4px 0px #00000029;
	background-color:#F6F6F6;
	border-radius:2px;
	border:1px solid #F6F6F6;
	display:inline-block;
	text-decoration:none;
	text-shadow:0px 1px 0px #F6F6F6;
}

.content-container{
	display: block;
	vertical-align: middle;
	text-align:center;
}

.pi-select{
	margin-top: 70px;
}

.logo{
	top: 31px;
	left: 46px;
	width: 155px;
	height: 60px;
	float: left;
}

.logo-img{
	width: 100%;
	height: 100%;
	margin: 20px 0px 0px 20px;
}

.main-title{
	color: #fff;
	font-size:24px;
	text-align: center;
	margin-top:24px;
}

.main-title-container{
	display: inline-block;
	vertical-align: middle;
	height:80px;
    width:600px;
    margin-left:-155px;
    margin-top:-20px;
    border-radius: 50% / 100%;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
    background:#4A74D7;
}

.result{clear:both;}

.btn-back{
	float: left;
	width:40px;
	height:40px;
	margin-top: 40px;
	margin-left: 20px;
	border-radius:50%;
	font-size:20px;
	text-align:center;
	color: #F6F6F6;
	background: rgb(112,112,112);
}

.graph-title{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	font-size:20pt;
	font-weight: bold;
}

.btn-me {
	box-shadow: 0px 0px 4px 0px #4A74D7;
	background-color:#4A74D7;
	border:1px solid #4A74D7;
	color:#ffffff;
}

.btn-re{
	float:right;
	margin-right: 50px;
}

button {
	margin: 4px;
	box-shadow: 0px 0px 4px 0px #00000029;
	background-color:#F6F6F6;
	border-radius:2px;
	border:1px solid #F6F6F6;
	display:inline-block;
	cursor:pointer;
	color:#707070;
	font-family:Arial;
	font-size:17px;
	text-decoration:none;
	width: 140px;
	height: 50px;
}

.home-title{
	font-weight: bold;
	font-size: 20px;
	margin-top: 30px;
}


.home-title-mini{
	font-weight:normal;
	font-size: 18px;
	margin-top: 30px;
}

.time-title{
	font-size: 18px;
	margin-top: 15px;
	color: #949494;
}

.time-title2{
	font-size: 18px;
	margin-bottom: 5px;
	margin-top: 5px;
	color: #949494;
}

.table-th{
	width: 680px;
	height: 100px;
	font-size: 18px;
	border: 2px solid #949494;
	border-collapse: collapse;
	margin: 0 auto;
	background: #ffffff;
}

.tr-bar{
	margin: 0 auto;
	border: 1px solid #a8a8a8;
}

.table-result{
	width: 600px;
	height: 120px;
	font-size: 16px;
	border: 0px solid #a8a8a8;
	border-collapse: collapse;
	margin: 0 auto;
}

.tr-bar2{
	margin: 0 auto;
	font-size: 16px;
	border-bottom: 1px solid #a8a8a8;
}

.table-start{
	margin: 0 auto;
	border: 0px solid #a8a8a8;
	border-collapse: collapse;
}

.pi-state{
	float:right;
	font-weight:normal;
	font-size: 16px;
	background: #F6F6F6;
	width: 250px;
	height: auto;
	margin: 20px 0px 20px 0px;
}

.btn-end{
	box-shadow: 0px 0px 4px 0px #FF4765;
	background-color:#FF4765;
	border:1px solid #FF4765;
	color:#ffffff;
	height: 70px;
	width: 100px;
}

.btn-endAll{
	box-shadow: 0px 0px 4px 0px #FF4765;
	background-color:#ff4750;
	border:1px solid #ff4750;
	color:#ffffff;
	height: 70px;
	width: 100px;
}

.btn-start{
	box-shadow: 0px 0px 4px 0px #4A74D7;
	background-color:#4A74D7;
	border:1px solid #4A74D7;
	color:#ffffff;
	height: 70px;
	width: 100px;
}

.btn-startAll{
	box-shadow: 0px 0px 4px 0px #4A74D7;
	background-color:#5655d4;
	border:1px solid #5655d4;
	color:#ffffff;
	height: 70px;
	width: 100px;
}

input{
	margin-left: 20px;
	border: 0px solid #ccc;
	font-size: 16px;
	color: #707070;
	width: 120px;
}

.peak{
	background-color: #ffee00;
}

.button2{
	margin-top:30px;
	margin-right: 15px;
	float:right;
	font-size: 12px;
	width: 110px;
	height: 30px;
	color:#ffffff;
	box-shadow: 0px 0px 2px 0px #4A74D7;
	background-color:#4A74D7;
	border:1px solid #4A74D7;
}

.button3{
	font-size: 12px;
	width: 55px;
	height: 30px;
	color:#ffffff;
	box-shadow: 0px 0px 2px 0px #4A74D7;
	background-color:#4A74D7;
	border:1px solid #4A74D7;
}
.button4{
	font-size: 12px;
	width: 55px;
	height: 25px;
	color:#ffffff;
	box-shadow: 0px 0px 2px 0px #f59b42;
	background-color:#f59b42;
	border:1px solid #f59b42;
}
.bt1{
	margin-left: 265px;
}

.bt2{
	margin-left: 125px;
}

.table-div{
	margin: 0 auto;
	border:1px solid #a8a8a8;
	width: 700px;
}

.table-div2{
	margin: 0 auto;
	border:1px solid #a8a8a8;
	display: flex;
	justify-content: center;
}

.beforeResult_list{
	float:left;
	border:1px solid #4A74D7;
}

.beforeResult_result{
	float:left;
	margin-left:25px;
	border:1px solid #4A74D7;
	height:fit-content;
}

.graph-div{
	margin: 0 auto;
	width: 700px;
}

th{
	font-weight:bold;
}

td{
	font-weight:normal;
}

.ver-line{
	border: 1px solid #a8a8a8;
}
