<!DOCTYPE html>
{% load static %}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>우정바이오 온습도계</title>
    
    <link href="{% static '/css/web.css' %}" media="(min-width:601px)" rel="stylesheet" type="text/css">
    <link href="{% static '/css/mobile.css' %}" media="(max-width:600px)" rel="stylesheet" type="text/css">
    
    <link media="all" href="{% static 'js/nv.d3.css' %}" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{% static 'js/d3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/nv.d3.min.js' %}"></script>
    <script src="{% static 'js/stream_layers.js' %}"></script>
    
    <link rel="stylesheet" type="text/css" href="{% static 'datetimepicker/jquery.datetimepicker.css' %}" />
    <script src="{% static 'datetimepicker/jquery.js' %}"></script>
    <script src="{% static 'datetimepicker/build/jquery.datetimepicker.full.min.js' %}"></script>
    
    <!-- javascript on static file -->
    <script src="{% static 'js/functions.js' %}"></script>
    
    <script type="text/javascript">
        String.prototype.replaceAll = function(org, dest) {
            return this.split(org).join(dest);
        }
        function csv_download(){
            let csv_name_element = document.getElementById('csv_name');
            
            if(csv_name_element == null){
                alert("먼저 저장할 데이터 조회를 해주세요.");
                return;
            }
            
            let csv_name = csv_name_element.innerHTML
             
            var userInput = prompt("저장을 원하는 csv파일의 이름을 입력해주세요.\n(이름은 영어와 숫자로만 구성되어야 합니다.)", csv_name.split('.')[0])
            if(userInput == null){
                alert("취소되었습니다.");
            } else{
                
                alert("다운로드를 시작합니다.");
                location.href="/save_csv/"+userInput+"/"+csv_name;
            }
        }
    </script>
    
    

    <style>
        text {
            font: 12px sans-serif;
        }
        svg {
            display: block;
        }
        #chart, svg {
            margin: 0px;
            padding: 0px;
            height: 450px;
            width: 98%;
        }  
         #allChart, svg{
            margin: 0px;
            padding: 0px;
            height: 450px;
            width: 98%;
         }
        
    </style>
</head>
<body>

{% include 'header.html' %}

<button class="btn-back" onclick="window.history.back();"> < </button>

<div class="result">
    <a href="{% url 'beforeResult' %}"><button class="btn-re">새로고침</button></a>
    <p class="graph-title">PI No.{{pi_num}} 과거 결과 확인</p>
</div>

<div class="table-div2 result">
    
    <div class="beforeResult_list">
        
    
        <p class="home-title">과거 데이터 조회</p>

        <input id="datetimepicker_start" type="text" value="" placeholder="YYYY-MM-DD"/>
        <b> ~ </b>
        <input id="datetimepicker_end" type="text" value="" placeholder="YYYY-MM-DD"/>
        <script type="text/javascript">
            jQuery("#datetimepicker_start").datetimepicker({
                lang:'ko',
                format:'Y-m-d',
                timepicker:false,
                });
            
            jQuery("#datetimepicker_end").datetimepicker({
                lang:'ko',
                format:'Y-m-d',
                timepicker:false,
                });
            
        </script>
    
        <button class="button3" onclick="getDataByTime();">조회</button>
    
        <table class="table-result" id="table_select_data"> </table>
        
    
    <br><br>
    </div>
    
    <div class="beforeResult_result">
        
        <p class="home-title">최대값 데이터</p>
        <table class="table-result" id="summary_data">
            <tr>
                <td style="font-weight:bold">No Data</td>
            </tr>
        </table>
        
        <hr/>
        <hr/>
        
        <button class="button2" onclick="csv_download();">엑셀 파일 저장</button>
        <p class="home-title bt2">측정 결과 표</p>
        <table class="table-result" id="table_data"> 
            <tr>
                <td style="font-weight:bold">No Data</td>
            </tr>
        </table>
        
        <hr/>
        <hr/>
        
        <p class="home-title">측정 결과 그래프</p>
        <div id="chart" class='with-3d-shadow with-transitions'>
            <svg></svg>
        </div>
       
        
    </div>
    

</div>

<!-- Modal -->

<div id='myModal' class='modal'>
    <div class='modal-content'>
        <div class='close' style='float:right'>&times;</div>
        
        <p class="home-title">모든 PI 측정 결과 그래프</p>
        <div id="allChart" class='with-3d-shadow with-transitions'>
        <svg></svg>
        </div>
        
        <br/>
        
        <div class="content-summary">
            <p class="home-title">전체 요약</p>
            <table class="table-th">
                <tr class="tr-bar">
                    <th class="ver-line thick"><font>PI NO.</font></th>
                
                    <th class="ver-line"><font>최대 습도(%)</font></th>
                    <th class="ver-line thick"><font>온도(°C)</font></th>
                    <th class="ver-line thick"><font>경과 시간</font></th>
                    <th class="ver-line"><font>측정 시간</font></th>
                </tr>
                
                
                
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- Modal End -->

<script type="text/javascript">
    
    //globalData (csvfile data for all PI's)
    var all_th_data=[]
    
    //global variable ( Object to save PI's Max Datas )
    var maxData = {}
        
    // Get all PI's Data and show it on graph
    function showAllGraph(fileName){
        $('#myModal').css('display', 'block');
        
        getAllCsvData(1, fileName);
        
    }
    
    $('.close').click(()=>{
        $('.tr-max').remove();
      $('#myModal').css('display', 'none');
    })
        
    function getAllCsvData(piNum, name){
                
                if(piNum>PI){
                    
                    d3.select('#allChart svg')
                        .datum(all_th_data)
                        .call(allChart); //draw chart when getting data is done

                    nv.utils.windowResize(allChart.update);
                    
                    //put maxDatas on Table
                    pushDataToTable();
                    
                    all_th_data = [];
                    return;
                }
                
                let param = {
                    'csv_name' : name,
                }
                
                $.ajax({
                            url: 'http://192.168.243.'+piNum+':8000/getDataByName/',
                            type: 'POST',
                            headers:{
                                'X-CSRFToken': '{{csrf_token}}'
                                },
                            data: JSON.stringify(param),
                            success:function(data){
                                //console.log(data);
                                updateAllGraph(data, piNum);
                                getAllCsvData(piNum+1, name);
                                
                            },
                            error: function(){
                                console.log(`PI No.${piNum} Ajax getAllCsvData Error!!`);
                                getAllCsvData(piNum+1, name);
                            }
                        });
            
            }

    function getDataByTime(){ //ajax call ( get csv file name list)
        
        let startTime = document.getElementById("datetimepicker_start").value;
        let endTime = document.getElementById("datetimepicker_end").value;

        
        if(startTime == '' && endTime == ''){
            alert('날짜를 선택해주세요');
            return ;
        }
        
        if(startTime != '' && endTime != '')
            if(startTime > endTime){
                alert('시작 날짜는 종료 날짜보다 작아야됩니다!');
                return;
            }
        

        let startTimeYMD = startTime.split('-');
        let endTimeYMD = endTime.split('-');
        
        let param = {
            'startYear' : startTimeYMD[0],
            'startMonth' : startTimeYMD[1] || '',
            'startDay' : startTimeYMD[2] || '',
            
            'endYear' : endTimeYMD[0],
            'endMonth' : endTimeYMD[1] || '',
            'endDay' : endTimeYMD[2] || '',
        }
        
        $.ajax({
            url: "{% url 'getByTime' %}",
            type: 'POST',
            headers: {
                'X-CSRFTOKEN' : '{{ csrf_token }}'
                },
            data: JSON.stringify(param),
            success: function(data){
                
                $('#table_select_data').empty();
                let table_head_html =
                    "<tr class='tr-bar2'>" +
                    "<th><font>측정 날짜</font></th>" +
                    "<th><font>측정 시간</font></th>" +
                    "<th><font>파일명</font></th>" +
                    "<th><font>조회</font></th>" +
                    "<th><font>동시조회</font></th>" +
                    "</tr>";
                    
                $('#table_select_data').append( table_head_html )

                if(data.length==0){
                    $('#table_select_data').append("<tr><td colspan='5'><font>No Files</font></td></tr>");
                        
                    return;
                }

                data.forEach(function(item){
                    let date_str = getDate(item);
                    let time_str = getTime(item);
                    
                    $('#table_select_data').append( "<tr>"+
                        "<td><font>" + date_str + "</font></td>" +
                        "<td><font>" + time_str + "</font></td>" +
                        "<td><font>" + item + "</font></td>" +
                        "<td>"+
                        '<button class="button4" onclick="getDataByName(\'' + item + '\')">조회</button>' +
                        
                        "</td>"+
                        "<td>"+
                   
                        '<button class="button4" onclick="showAllGraph(\'' + item + '\')">동시조회</button>' +
                        "</td>"+
                        "</tr>"
                        );
                }); 
                
            },
            error: function(){
                console.log('getByYear ERROR!');
                }
                
        });
    
    }
    
    function getDataByName(name){ // ajax call ( get csv file data )
        
        
        let param = {
            'csv_name' : name,
        }
        
        $.ajax({
            url: "{% url 'getDataByName' %}",
            type: 'POST',
            headers: {
                'X-CSRFTOKEN' : '{{ csrf_token }}'
                },
            data: JSON.stringify(param),
            success: function(data){

                makeGraph(data);
                
                let head = "<tr class='tr-bar2'>" +
                            "<th><font>경과 시간</font></th>" + 
                            "<th><font>습도(%)</font></th>" + 
                            "<th><font>온도(°C)</font></th>" + 
                            "<th><font>측정 시간</font></th>" + 
                            "</tr>";
                let bottom = "<tr style='border-top: 1px solid #a8a8a8;'><td colspan='1'><font style='font-weight:bold'>Current File:</td>" +
                             "<td colspan='3'><font id='csv_name' style='font-weight:bold'>"+data[data.length - 1]+"</td></tr>";
                let table_html = "";   //html for all data table
                let summary_html = ""; //html for summary table
                
                //variable to find max humidity
                let maxHumidity = 0;
                let maxData = [];
                
                for(const row of data.slice(0,-1)){ //for each data
                    
                    if(maxHumidity<Number(row[1])){ // find data that has max humidity
                        maxData = row;
                        maxHumidity = row[1];
                    }
                    
                    table_html += '<tr>'+
                                  '<td><font>' + row[0] + '</font></td>' +
                                  '<td><font>' + row[1] + '</font></td>' +
                                  '<td><font>' + row[2] + '</font></td>' +
                                  '<td><font>' + row[3].slice(0,19) + '</font></td>' +
                                  '</tr>';
                }
                
                //notify "No data" when data is empty  
                if(table_html == ""){
                    let noData = "<tr><td colspan='4'><font style='font-weight:bold'>No Data</font></td></tr>";
                    table_html = head + noData;
                    summary_html = head + noData;
                }
                else{
                    table_html = head + table_html;    
                    summary_html = head.replace('습도', '최대 습도') +
                        '<tr>'+
                        '<td><font>' + maxData[0] + '</font></td>' +
                        '<td><font>' + maxData[1] + '</font></td>' +
                        '<td><font>' + maxData[2] + '</font></td>' +
                        '<td><font>' + maxData[3].slice(0,19) + '</font></td>' +
                        '</tr>';
                }
                
                
                table_html += bottom;
                
                $('#table_data').empty();
                $('#table_data').append( table_html );
                
                $('#summary_data').empty();
                $('#summary_data').append(summary_html);

            },
            error: function(){
                console.log('getDataByName ERROR!');
                }
                
        });
        
    }
    
    //graph initalise
    var chart = nv.models.lineChart();
    var allChart = nv.models.lineWithFocusChart();
    
    nv.addGraph(function(){
        
        var dataList = new Array();
        var dataList2 = new Array();
        
        var th_data = [
          {
            "key": "습도(%)",
            "color": "#00ace6",
            "values": dataList
          },
          {
            "key": "온도(°C)",
            "color": "#FF4765",
            "values": dataList2
          }
        ];

        chart.xAxis.tickFormat((time)=> xAxisLabel(time)).axisLabel("시간(시, 분, 초)");
        chart.yDomain([0,100]);
        chart.yTickFormat(d3.format(',.1f'));

        chart.useInteractiveGuideline(true);

        d3.select('#chart svg')
            .datum(th_data)
            .call(chart);

        nv.utils.windowResize(chart.update);
        //////
	
        var all_th_data = [
        {
            "key": "습도(%)",
            "color": "#00ace6",
            "values": dataList
        }]
        
        allChart.xAxis.tickFormat((time)=> xAxisLabel(time)).axisLabel("시간(시, 분, 초)");
        allChart.x2Axis.tickFormat((time)=> xAxisLabel(time));

        allChart.yTickFormat(d3.format(',.1f'));
        allChart.useInteractiveGuideline(true);
        d3.select('#allChart svg')
            .datum(all_th_data) //push in datat
            .call(allChart); // render chart

        nv.utils.windowResize(allChart.update);
        
        return chart;
        
    });
    
    //show one graph
    function makeGraph(data){
        
        var dataList = new Array();
        var dataList2 = new Array();
                                          
        for(const row of data.slice(0,-1)){
             
             let run_time = getSecond(row[0]);
               
             var graph = new Object();
             graph.x = run_time;
             graph.y = parseFloat(row[1]);
             graph.series = 0;
             dataList.push(graph);
             
             var graph2 = new Object();
             graph2.x = run_time;
             graph2.y = parseFloat(row[2]);
             graph2.series = 1;
             dataList2.push(graph2);
        
        }
        
        var th_data = [
          {
            "key": "습도(%)",
            "color": "#00ace6",
            "values": dataList
          },
          {
            "key": "온도(°C)",
            "color": "#FF4765",
            "values": dataList2
          }
        ]

        chart.useInteractiveGuideline(true);

        d3.select('#chart svg')
            .datum(th_data)
            .call(chart);

        nv.utils.windowResize(chart.update);

        return chart;  
        
    }
    
    //update data for all PI's graph
    function updateAllGraph(data, piNum){
        let maxHumidity = -1
        var dataList = new Array();
                                          
        for(const row of data.slice(0,-1)){
             
             let run_time = getSecond(row[0]);
             let curHumidity = parseFloat(row[1]);
             
             //find Data that has max humidity
             if(curHumidity >= maxHumidity){
                 maxHumidity = curHumidity;
                 maxData[piNum]=row;
             }
             //
               
             var graph = new Object();
             graph.x = run_time;
             graph.y = curHumidity;
             graph.series = 0;
             dataList.push(graph);
             
        }
        
        //make fixed color for each PI data
        let fixedColor = Math.floor(piNum*0.001152*16777215).toString(16);
        
        all_th_data.push({
                "key": `PI-${piNum} 습도(%)`,
                "color": "#"+fixedColor,
                "values": dataList
            });


        return allChart;  
        
    }
    
    function pushDataToTable(){
        console.log(maxData);
        let total_html = '';
        
        for(const piNum in maxData){
            let data = maxData[piNum];
            
            let tr_html= '<tr class="tr-max">'+
                        '<td class="ver-line thick"><font>' + piNum + '</font></td>' +
                        '<td class="ver-line"><font>' + data[1] + '</font></td>' + //Max Humidity
                        '<td class="ver-line thick"><font>' + data[2] + '</font></td>' + //Temperature
                        '<td class="ver-line thick"><font>' + data[0] + '</font></td>' + //run time
                        '<td class="ver-line"><font>' + data[3].slice(0,19) + '</font></td>' + //time
                        '</tr>';
            
            total_html += tr_html;
        }
        
        $('.table-th').append(total_html);
        maxData={};
    }
    
    function getSecond(time){
        let hms = time.split(':');
        let hour = Number(hms[0]);
        let minute = Number(hms[1]);
        let second = Number(hms[2]);
        
        minute += 60 * hour;
        second += 60 * minute;
        
        return second;
        
    }
    
    function getDate(item){    // change date format
        let year = item.slice(0,4);
        let month = item.slice(4,6);
        let day = item.slice(6,8);
        
        return year+"년/" + month+"월/" + day+"일";
    }
    
    function getTime(item){ // change time format
        let hour = item.slice(9,11);
        let minute = item.slice(11,13);
        let second = item.slice(13,15);
        
        return hour+':'+minute+':'+second;
    }

        
        
    </script>

</body>
</html>


