<!DOCTYPE html>
{% load static %}
<html lang="en">
  
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>우정바이오 온습도계</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <script type="text/javascript">
        function csv_name(){
            var userInput = prompt("저장을 원하는 csv파일의 이름을 입력해주세요. (이름은 영어와 숫자로 구성되어야 합니다.)")
            if(userInput == null){
                alert("취소되었습니다.");
            } else{
                alert("다운로드를 시작합니다.");
                location.href="/th_csv/"+userInput;
            }
        }
        function start_check(){
            var result = confirm("정말로 시작하시겠습니까? 시작시 이전의 데이터는 모두 삭제됩니다.");
            if(result){
                location.href="/restart";
                return true;
            }else{
                return false;
            }
        }
    </script>
</head>
<body>
    <a href="{% url 'home' %}"><img class="logo" src="{% static '/images/KS.jpg' %}"></a>
    <h1 class="title1">감염관리사업부 온습도계</h1>
    <div class="pi-select">
        <h4>파이 선택</h4>
        <a href="http://192.168.1.13:8000/"><button class="btn-pi">13번</button></a>
        <a href="http://192.168.1.13:8000/"><button class="btn-pi">26번</button></a>
        <a href="http://192.168.1.13:8000/"><button class="btn-pi">27번</button></a>
    </div>
    <a href="{% url 'graph' %}"><img class="graph-img" src="{% static '/images/graph.JPG' %}"></a>
    <p class="title2">파이 상태 확인</p>
    <div class="pi-state">
        <p>파이 정보: {{pi_num}}번</p>
        <p>파이 주소: {{pi_ip}}</p>
    {% if pi_state == 0 %}
        <p>파이 연결 상태: 연결 안 됨</p>
        <p>파이 실행 상태: 연결 안 됨</p>
    </div>
    {% else %}
        <p>파이 연결 상태: 연결 됨</p>
        {% if run_state == 1 %}
            <p>파이 실행 상태: <strong style="color:red">실행중</strong> </p>
    </div>
    <a href="{% url 'end' %}"><button class="btn-end">종료하기</button></a>
        {% else %}
            <p>파이 실행 상태: <strong style="color:blue">대기중</strong> </p>
    </div>
    <br>
    <button class="btn-start" onclick="start_check();">시작하기</button>
    <button class="btn-csv" onclick="csv_name();">csv파일로 저장하기</button>
        {% endif %}
    <br>
    <div class="result">
        <a href="{% url 'home' %}"><button class="btn-re">새로고침</button></a>
        <p class="title2">측정 결과 확인</p>
    </div>
    <div class="table-div">
        <table class="table-th">
            <tr class="tr-bar">
                <th><font size = 3> 경과시간 </font></th>
                <th><font size=3>측정습도(%)</font></th>
                <th><font size =3>측정온도(°C)</font></th>
            </tr>
        {% for th in th_list %}
            <tr>
                <th><font size = 3>{{th.run_time_str}}</font></th>
                <th><font size=3>{{th.temperature}}</font></th>
                <th><font size = 3>{{th.humidity}}</font></th>
            </tr>
        {% endfor %}
        </table>
    </div>
    {% endif %}
</body>
