<!DOCTYPE html>
{% load static %}
<html lang="en">
  
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>우정바이오 온습도계</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <img class="logo" src="{% static '/images/KS.jpg' %}">
    <h1 class="title1">감염관리사업부 온습도계 관리</h1>
    <p class="title2">파이 상태 확인</p>
    <div class="pi-state">
        <p>파이 정보: {{pi_num}}번</p>
        <p>파이 주소: {{pi_ip}}</p>
    {% if pi_state == 0 %}
        <p>파이 연결 상태: 연결 안 됨</p>
        <p>파이 실행 상태: 연결 안 됨</p>
    </div>
    {% else %}
        <p>파이 연결 상태: 연결 됨</p>
        {% if run_state == 1 %}
            <p>파이 실행 상태: 실행중</p>
    </div>
    <a href="{% url 'end' %}"><button class="btn-end">종료하기</button></a>
        {% else %}
            <p>파이 실행 상태: 대기중</p>
    </div>
    <br>
    <a href="{% url 'restart' %}"><button class="btn-start">시작하기</button></a>
    <a href="{% url 'csv' %}"><button class="btn-csv">csv파일로 저장하기</button></a>
        {% endif %}
    <br>
    <div class="result">
        <a href="{% url 'home' %}"><button class="btn-re">새로고침</button></a>
        <p class="title2">측정 결과 확인</p>
    </div>
    <div class="table-div">
        <table class="table-th">
            <tr class="tr-bar">
                <th><font size = 3> 경과시간 </font></th>
                <th><font size=3>측정습도</font></th>
                <th><font size =3>측정온도</font></th>
            </tr>
        {% for th in th_list %}
            <tr>
                <th><font size = 3>{{th.run_time}}</font></th>
                <th><font size=3>{{th.temperature}}</font></th>
                <th><font size = 3>{{th.humidity}}</font></th>
            </tr>
        {% endfor %}
        </table>
    </div>
    {% endif %}
</body>
