<!DOCTYPE html>
{% load static %}
<html lang="en">
  
<head>
    <meta charset="utf-8">
    {% if run_state == 1 %}
    <meta http-equiv="refresh" content="10;url=">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>우정바이오 온습도계</title>
    <link href="{% static '/css/web.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/modile.css' %}" media="(max-width:480px)" rel="stylesheet" type="text/css">
    
    <link media="all" href="{% static 'js/nv.d3.css' %}" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{% static 'js/d3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/nv.d3.min.js' %}"></script>
    <script src="{% static 'js/stream_layers.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'datetimepicker/jquery.datetimepicker.css' %}" />
    <script src="{% static 'datetimepicker/jquery.js' %}"></script>
    <script src="{% static 'datetimepicker/build/jquery.datetimepicker.full.min.js' %}"></script>
    
    <link rel="stylesheet" href="{% static 'wickedpicker/stylesheets/wickedpicker.css' %}">
    <script src="{% static 'wickedpicker/src/wickedpicker.js' %}"></script>    
</head>
<body>
	<div class="header">
		<a href="{% url 'home' %}"><img class="logo" src="{% static '/images/KS.jpg' %}"></a>
		<div class="main-title-container">
			<h1 class="main-title">감염관리사업부 온습도계</h1>
		</div>
	</div>
	<div class="content-container">
		<div class="pi-select">
		<a href="http://192.168.243.13:8000/"><button class="btn-me">13번</button></a>
		<a href="http://192.168.243.26:8000/"><button>26번</button></a>
		<a href="http://192.168.243.27:8000/"><button>27번</button></a>
		</div>
		<p class="title2">측정 상태 요약</p>
	</div>
    
  
    
    
    
</body>
