<!DOCTYPE html>
{% load static %}
<html lang="en">
  
<head>
    <meta charset="utf-8">
    
    <!--    브라우저 너비를 장치 너비에 맞추어 표시함-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>우정바이오 온습도계</title>
    <link href="{% static '/css/web.css' %}" media="(min-width:600px)" rel="stylesheet" type="text/css">
    <link href="{% static '/css/mobile.css' %}" media="(max-width:600px)" rel="stylesheet" type="text/css">
    
    <link media="all" href="{% static 'js/nv.d3.css' %}" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{% static 'js/d3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/nv.d3.min.js' %}"></script>
    <script src="{% static 'js/stream_layers.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'datetimepicker/jquery.datetimepicker.css' %}" />
    <script src="{% static 'datetimepicker/jquery.js' %}"></script>
    <script src="{% static 'datetimepicker/build/jquery.datetimepicker.full.min.js' %}"></script>
    
    <link rel="stylesheet" href="{% static 'wickedpicker/stylesheets/wickedpicker.css' %}">
    <script src="{% static 'wickedpicker/src/wickedpicker.js' %}"></script>
    
    <!-- javascript on static file -->
    <script src="{% static 'js/functions.js' %}"></script>
    <!-- home.html ajax functions -->
    <script src="{% static 'js/home_ajax.js' %}"></script>
    <!-- summary functions -->
    <script src="{% static 'js/summary_function.js' %}"></script>
    
    <script type="text/javascript">
        String.prototype.replaceAll = function(org, dest) {
            return this.split(org).join(dest);
        }
    </script>
    
    <style>
        text {
            font: 12px sans-serif;
        }
        svg {
            display: block;
        }
        #chart, svg {
            margin: 0;
            padding: 0px;
            height: 450px;
            width: 98%;
        }
    </style>
</head>
<body>
	
    {% include 'header.html' %}
    
    <div class='information-container'>
	<div class='container-padding'>
	    
	    <p class="home-title">온습도계 선택</p>
	    
	    
	    <div style='display:flex; text-align:left'>
		<!-- Div( Pi href Button) -->
		<div style='width:30%'>
		    <div class = 'information-box'>
			<div class = 'connection-status-box connection1'></div>
			<a href="http://192.168.243.1:80/">
			    <button class = 'pi-select-button'>1</button>
			</a>
		    </div>
		    
		    <div class = 'information-box'>
			<div class = 'connection-status-box connection2'></div>
			<a href="http://192.168.243.2:80/">
			    <button class = 'pi-select-button'>2</button>
			</a>
			
		    </div>
		    
		    <div class = 'information-box'>
			<div class = 'connection-status-box connection3'></div>
			<a href="http://192.168.243.3:80/">
			    <button class = 'pi-select-button'>3</button>
			</a>
		    </div>
		</div>
		
		<!-- Div( Time Info ) -->
		<!-- PI 기준 (시간 + 주기)--><!-- 경과시간 -->
		<div style='width:70%'>
		    <div class = 'information-box'>
			<div class='information-text-box text-bold text-gray'>PI No.{{pi_num}} 기준</div>
			<div class='information-text-box text-bold text-gray' id="dataCycle">측정주기: N/A</div>
		    </div>
		    
		    <div class = 'information-box'>
			<div class='information-text-box text-bold'>현재시간</div>
			<div style='display:flex'>
			    <div class='information-text-box' style='color:#355dcc' id='cur_date'>date</div>
			    <div class='information-text-box text-bold' style='color:#355dcc;' id='cur_time'>date</div>
			</div>
		    </div>
		    
		    <div class = 'information-box'>
			<div style='display:flex'>
			    <div class='information-text-box'>
				<div class='text-bold'>시작시간</div>
				<div class='text-gray'>{{th_state.start_time|date:"Y-m-d"}}</div>
				<div class='text-bold text-gray'>{{th_state.start_time|date:"H:i:s"}}</div>
			    </div>
			    
			    
			    <div class='information-text-box' style='margin-left:50px'>
				{% if run_state == 2 %}
				<div class='text-bold'>종료시간</div>
				<div class='text-gray'>{{th_state.end_time|date:"Y-m-d"}}</div>
				<div class='text-bold text-gray'>{{th_state.end_time|date:"H:i:s"}}</div>
				{% else %}
				<div class='text-bold'>경과시간</div>
				<div class='text-bold text-gray' id='run_time'>run_time</span>
				{% endif %}

			    </div>
			    
			</div>
			
		    </div>
		</div>
		
		
	    </div>
	    
	</div>
	
	<div class='start-button-container'>
	    <div style='display:flex; padding:20px;'>
		{% if run_state == 2 %}
		<div style='width:40%'>
		    <div>
			<input type="range" id="cycle" name="cycle" value="30" min="5" step="5" max="60"  onInput="setCycle()">
		    </div>
		    <div style='width:100%'>
			<div class='information-text-box' style='float:left; padding-left:0px'>측정 주기</div>
			<div class='information-text-box' style='float:right; padding-left:3px'>초</div>
			<div style='float:right; border:solid 2px; width:40px; border-radius:5px;'>
			    <div class='information-text-box' style='float:right'>
			    <label for="cycle" id="cycleLabel">30</label>
			    </div>
			</div>
		    </div>
		</div>
		
		<div style='width:60%'>
		    <button class="btn-startAll" onclick="start_pi();">측정 시작</button>
		</div>
		{% else %}
		
		<div style='width:100%'>
			<button class="btn-endAll" onclick="end_all();">전체 종료</button>
		</div>
		{% endif %}
	    </div>
	</div>
	
    </div>
	
    <div class="content-container">
	
	<!-- ALL SUMMARY -->
        <div class="content-summary">
        
        <p class="home-title">전체 요약</p>
        
        <table class="table-th">
            <br/>
            <tr>
                <th class='thick'></th>
                <th class='ver-line thick' style='border:3px solid' colspan=2>최대값 데이터</th>
                <th rowspan=5 class='thick2'></th>
                <th class='ver-line' style='border:3px solid'>실시간 데이터</th>
            </tr>
            
            <tr class="tr-bar">
                <th class="ver-line thick"><font>PI NO.</font></th>
                
                <th class="ver-line"><font>최대 습도(%)</font></th>
                <th class="ver-line thick"><font>경과 시간</font></th>
                
                <th class="ver-line"><font>현재 습도(%)</font></th>
                
            </tr>
            <!-- PI No.1 -->
            <tr id="summary1">
                <td class='ver-line thick'>1</td>
                
                <td class='ver-line' id='maxHumidity1'>-</td>
                <td class='ver-line' id='maxRunTime1'>-</td>
                
                <td class='ver-line' id='curHumidity1'>-</td>
                
                <td style='display:none' id='curRunId1'>-</td>
                
            </tr>
            
            <!-- PI No.2 -->
            <tr id="summary2">
                <td class='ver-line thick'>2</td>
                
                <td class='ver-line' id='maxHumidity2'>-</td>
                <td class='ver-line' id='maxRunTime2'>-</td>
                
                <td class='ver-line' id='curHumidity2'>-</td>
                
                <td style='display:none' id='curRunId2'>-</td>
                
            </tr>
            
            <!-- PI No.3 -->
            <tr id="summary3">
               <td class='ver-line thick'>3</td>
                
                <td class='ver-line' id='maxHumidity3'>-</td>
                <td class='ver-line' id='maxRunTime3'>-</td>
                
                <td class='ver-line' id='curHumidity3'>-</td>
                
                <td style='display:none' id='curRunId3'>-</td>
                
            </tr>
            
        </table>
        
        <br>
        </div><!-- ALL SUMMARY END -->
	
	<br><hr class="hr-div"><br>
	

    </div> <!-- content-container END -->
    
    <br><br>
    
    <!--- GRAPH POSITION --->
    <p class="home-title">측정 결과 그래프</p>
    <div id="chart" class='with-3d-shadow with-transitions'>
	<svg></svg>
    </div>
    <!--- GRAPH POSITION END --->

    <br><br><br><br>
	
    <div class="table-div">

	<p class="home-title">PI No.{{pi_num}} 측정 결과 미리보기</p>
	
	<a href="{% url 'result' %}"><button class="button2">현재 데이터 조회</button></a>
        <a href="{% url 'beforeResult' %}"><button class="button2">과거 데이터 조회</button></a>
	
        <table class="table-result" id="table_data">
        </table>
	
        <br><br>
    </div>
    
    <br><br>
    
    
    <script type="text/javascript">
        //******GRAPH Functions
        var chart = nv.models.lineWithFocusChart();
        
        //globalData
        var th_data=[] // (uses to push in data to graph)
        var th_data_save = {} // holds datas used in graph (uses to distinguish which pi's data)
        
        nv.addGraph(function() {
            var dataList = new Array();

            //d3.format(',f') ex) 68.12 -> 68
            chart.xAxis.tickFormat((time)=> xAxisLabel(time)).axisLabel("시간(시, 분, 초)");
            chart.x2Axis.tickFormat((time)=> xAxisLabel(time));

            chart.yDomain([0,100]);
            chart.yTickFormat(d3.format(',.1f'));
            chart.useInteractiveGuideline(true);
        
            d3.select('#chart svg')
                .datum(th_data) //push in datat
                .call(chart); // render chart

            nv.utils.windowResize(chart.update);

            return chart;
            }
        );
    

        
	checkRunning();
        setInterval(checkRunning, 5000);
	
	getAllThState(1, {{run_state}}); // Get Most recent data when page is loaded to show Max value talbe
        getLastThData(1, {{run_state}}); // Get Most recent data when page is loaded to Load Graph and Table
	getThData(); // to show most recent 40 data
	
	function refreshData(){
            
            getAllThState(1, {{run_state}});
            getLastTwoThData(1); // Get Recent 2 Data and update Table and Graph
	    getThData();
        }
        

			
        if( {{run_state}} == 1){
	    for(piNum=1; piNum <= PI; piNum++){
		hideElement(piNum); //hide pi tables that are not running
	    }
			
            setInterval(refreshData, 2000); // refresh every x seconds
	}

    </script>
    
    <script type="text/javascript">
        let currentDate = document.getElementById("cur_date");
        let currentTime = document.getElementById("cur_time");
        
	clock('{{th_state.start_time|date:"Y/m/d H:i:s"}}', {{run_state}});
        setInterval(()=>clock('{{th_state.start_time|date:"Y/m/d H:i:s"}}', {{run_state}}),1000);
    </script>
    
</body>
