<!DOCTYPE html>
{% load static %}
<html lang="en">
  
<head>
    <meta charset="utf-8">
    
    <!--    브라우저 너비를 장치 너비에 맞추어 표시함-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>우정바이오 온습도계</title>
    <link href="{% static '/css/web.css' %}" media="(min-width:600px)" rel="stylesheet" type="text/css">
    <link href="{% static '/css/mobile.css' %}" media="(max-width:600px)" rel="stylesheet" type="text/css">
    
    <link media="all" href="{% static 'js/nv.d3.css' %}" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{% static 'js/d3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/nv.d3.min.js' %}"></script>
    <script src="{% static 'js/stream_layers.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'datetimepicker/jquery.datetimepicker.css' %}" />
    <script src="{% static 'datetimepicker/jquery.js' %}"></script>
    <script src="{% static 'datetimepicker/build/jquery.datetimepicker.full.min.js' %}"></script>
    
    <link rel="stylesheet" href="{% static 'wickedpicker/stylesheets/wickedpicker.css' %}">
    <script src="{% static 'wickedpicker/src/wickedpicker.js' %}"></script>
    
    <!-- javascript on static file -->
    <script src="{% static 'js/functions.js' %}"></script>
    <!-- summary.html functions -->
    <script src="{% static 'js/summary_function.js' %}"></script>
    
    <script type="text/javascript">
    
        String.prototype.replaceAll = function(org, dest) {
            return this.split(org).join(dest);
        }
        
    </script>
    
    <style>
        text {
            font: 12px sans-serif;
        }
        svg {
            display: block;
        }
        #chart, svg {
            margin: 0px;
            padding: 0px;
            height: 450px;
            width: 98%;
        }
    </style>
</head>
<body>
	
		{% include 'header.html' %}
	
	<div class="content-container">
		<div class="pi-select">
        <p class="home-title">온습도계 선택</p>
        <a href="http://192.168.243.1:8000/summary"><button class="btn-me">전체 확인</button></a>
		<a href="http://192.168.243.1:8000/"><button>1번</button></a>
		<a href="http://192.168.243.2:8000/"><button>2번</button></a>
		<a href="http://192.168.243.3:8000/"><button>3번</button></a>
		</div>
        
        
        <br>
        
        {% if run_state == 2 %}
        <div class="checkbox-list">
            <div class="checkbox-item">
                <input style='width:auto ;padding:0' type="checkbox" id="piTwo" name="checkbox_pi" value=2 checked>
                <strong>Pi 2</strong>
            </div>
            
            <div class="checkbox-item">
                <input style='width:auto ;padding:0' type="checkbox" id="piThree" name="checkbox_pi" value=3 checked>
                <strong>Pi 3</strong>
            </div>
        </div>
        {% endif %}
        
        <!-- 연결상태 -->
        <div class='pi-list connection'>
            <div class='content-summary2'>
                <div style='margin:5px 0px 5px 0px;'>연결상태</div>
                
                <table class='table-connection'>
                    <tr>
                        <td class='td-connection connection1'>
                            PI.1
                        </td>
                        <td class='td-connection connection2'>
                            PI.2
                        </td>
                        <td class='td-connection connection3'>
                            PI.3
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        
        <!-- 현재시간 -->
        <div class='pi-list'>
            <div class='content-summary2'>
                <div class='time-box'>현재시간</div>
                <span class="time-title2" id="cur_date" >date</span>
                <span class="time-title2" id="cur_time" >time</span>
            </div>
        </div>
        
        <!-- PI.1 기준 (시간 + 주기)--><!-- 경과시간 -->
        <div>
            <p class="time-title2" style="font-size:15px">PI No.1 기준</p>
            
            <div class='pi-list'>
                <div class='content-summary2'>
                    <div class='time-box'>시작시간</div>
                    <span class='time-title2'>{{th_state.start_time|date:"Y-m-d H:i:s"}}</span>
                </div>
                
                {% if run_state == 2 %}
                <div class='content-summary2'>
                    <div class='time-box'>종료시간</div>
                    <span class='time-title2'>{{th_state.end_time|date:"Y-m-d H:i:s"}}</span>
                </div>
                {% else %}
                <div class='content-summary2'>
                    <div class='time-box'>경과시간</div>
                    <span class='time-title2' id='run_time'>run_time</span>
                </div>
                {% endif %}
            
            </div>
            
            <p class="time-title2" id="dataCycle">측정주기: N/A</p>
        </div>
        
        
        <!-- ALL SUMMARY -->
        <div class="content-summary">
        
        <p class="home-title">전체 요약</p>
        
        <table class="table-th">
            <br/>
            <tr>
                <th class='thick'></th>
                <th class='ver-line thick' style='border:3px solid' colspan=2>최대값 데이터</th>
                <th rowspan=5 class='thick2'></th>
                <th class='ver-line' style='border:3px solid' colspan=2>실시간 데이터</th>
                <th rowspan=5 class='thick2'></th>
            </tr>
            
            <tr class="tr-bar">
                <th class="ver-line thick"><font>PI NO.</font></th>
                
                <th class="ver-line"><font>최대 습도(%)</font></th>
                <th class="ver-line thick"><font>경과 시간</font></th>
                
                <th class="ver-line"><font>현재 습도(%)</font></th>
                <th class="ver-line thick"><font>온도(°C)</font></th>
                
                <th class="ver-line thick" style='border-top: 3px solid' colspan=2>데이터 조회</th>
                
            </tr>
            <!-- PI No.1 -->
            <tr id="summary1">
                <td class='ver-line thick'>1</td>
                
                <td class='ver-line' id='maxHumidity1'>-</td>
                <td class='ver-line' id='maxRunTime1'>-</td>
                
                <td class='ver-line' id='curHumidity1'>-</td>
                <td class='ver-line' id='curTemperature1'>-</td>
                
                <td style='display:none' id='curRunId1'>-</td>
                
                <td class='ver-line thick' colspan=2>
                <a href='http://192.168.243.1:8000/result'><button class="button5">현재</button></a>
                <a href='http://192.168.243.1:8000/beforeResult'><button class="button5">과거</button></a>
                </td>
            </tr>
            
            <!-- PI No.2 -->
            <tr id="summary2">
                <td class='ver-line thick'>2</td>
                
                <td class='ver-line' id='maxHumidity2'>-</td>
                <td class='ver-line' id='maxRunTime2'>-</td>
                
                <td class='ver-line' id='curHumidity2'>-</td>
                <td class='ver-line' id='curTemperature2'>-</td>
                
                <td style='display:none' id='curRunId2'>-</td>
                
                <td class='ver-line thick' colspan=2>
                <a href='http://192.168.243.2:8000/result'><button class="button5">현재</button></a>
                <a href='http://192.168.243.2:8000/beforeResult'><button class="button5">과거</button></a>
                </td>
            </tr>
            
            <!-- PI No.3 -->
            <tr id="summary3">
               <td class='ver-line thick'>3</td>
                
                <td class='ver-line' id='maxHumidity3'>-</td>
                <td class='ver-line' id='maxRunTime3'>-</td>
                
                <td class='ver-line' id='curHumidity3'>-</td>
                <td class='ver-line' id='curTemperature3'>-</td>
                
                <td style='display:none' id='curRunId3'>-</td>
                
                <td class='ver-line thick' colspan=2>
                <a href='http://192.168.243.3:8000/result'><button class="button5">현재</button></a>
                <a href='http://192.168.243.3:8000/beforeResult'><button class="button5">과거</button></a>
                </td>
            </tr>
            
        </table>
        
        <br>
        </div><!-- ALL SUMMARY END -->
        
        
        
        
        <br>
        
		<div class="pi-state">
		
		
        {% if run_state == 1 %}
        <p>온습도계 실행 상태: <strong style="color:#FF4765">실행중</strong> </p>
        </div>
        
        <br>
        <hr class="hr-div">
        <br>
        
        <div class='content-summary2'>
            <button class="btn-endAll" onclick="end_all();">전체 종료</button>
        </div>
        

        {% else %}
        <p>온습도계 실행 상태: <strong style="color:blue">대기중</strong> </p>
        
        </div>
        <br>
        <hr class="hr-div">
        <br>
        
        
        <div class='content-summary2'>
            <table class='table-start'>
        
            <tr>
                <td>
                    측정 주기
                </td>
            </tr>
            <tr>
                <td>
                 <input type="range" id="cycle" name="cycle" value="30" min="5" step="5" max="60"  onInput="setCycle()">
                <label for="cycle" id="cycleLabel">30초</label>
                </td>
                
            </tr>
            </table>
            
            <button class="btn-startAll" onclick="start_pi();">측정<br>시작</button>
        </div>
        
        
        {% endif %}
        
        </div> <!-- content-container -->
        
		<br/><br/>
        <p class="home-title">측정 결과 그래프</p>
        <div id="chart" class='with-3d-shadow with-transitions'>
        <svg></svg>
        </div>

        <br/><br/><br/>
    
    <script type="text/javascript">
        
        //******GRAPH Functions
        var chart = nv.models.lineWithFocusChart();
        
        //globalData
        var th_data=[] // (uses to push in data to graph)
        var th_data_save = {} // holds datas used in graph (uses to distinguish which pi's data)
        
        nv.addGraph(function() {
        var dataList = new Array();

        //d3.format(',f') ex) 68.12 -> 68
        chart.xAxis.tickFormat((time)=> xAxisLabel(time)).axisLabel("시간(시, 분, 초)");
        chart.x2Axis.tickFormat((time)=> xAxisLabel(time));

        chart.yDomain([0,100]);
        chart.yTickFormat(d3.format(',.1f'));
        chart.useInteractiveGuideline(true);
        
        d3.select('#chart svg')
            .datum(th_data) //push in datat
            .call(chart); // render chart

        nv.utils.windowResize(chart.update);

        return chart;
    });
    
        
        //****** Graph Functions END

        
        checkRunning();
        setInterval(checkRunning, 5000);
        
        getAllThState(1, {{run_state}});
        getLastThData(1, {{run_state}});
        
        function refreshData(){
            
            getAllThState(1, {{run_state}});
            //getLastThData(1);
            getLastTwoThData(1);

        }
        
        //refreshData();

			
        if( {{run_state}} == 1){
			
			for(piNum=1; piNum <= PI; piNum++){
				hideElement(piNum); //hide pi tables that are not running
			}
			
            setInterval(refreshData, 2000); // refresh every x seconds
		}

    </script>
    
    
    
    <script type="text/javascript">
        
        
        clock('{{th_state.start_time|date:"Y/m/d H:i:s"}}', {{run_state}});
        setInterval(()=>clock('{{th_state.start_time|date:"Y/m/d H:i:s"}}', {{run_state}}),1000);
        

        //hide Table when checkbox is not checked
        $(document).ready(function(){
            $('input[type="checkbox"]').click(function(){
                let inputValue = $(this).attr("value"); // == piNum
                $('#summary-pi'+inputValue).toggle();
                $('#summary'+inputValue).toggle();
            });
        });
        </script>
    
</body>
