<!DOCTYPE html>
{% load static %}
<html lang="en">
  
<head>
    <meta charset="utf-8">
    
    <!--    브라우저 너비를 장치 너비에 맞추어 표시함-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>우정바이오 온습도계</title>
    <link href="{% static '/css/web.css' %}" media="(min-width:600px)" rel="stylesheet" type="text/css">
    <link href="{% static '/css/mobile.css' %}" media="(max-width:600px)" rel="stylesheet" type="text/css">
    
    <link media="all" href="{% static 'js/nv.d3.css' %}" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{% static 'js/d3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/nv.d3.min.js' %}"></script>
    <script src="{% static 'js/stream_layers.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'datetimepicker/jquery.datetimepicker.css' %}" />
    <script src="{% static 'datetimepicker/jquery.js' %}"></script>
    <script src="{% static 'datetimepicker/build/jquery.datetimepicker.full.min.js' %}"></script>
    
    <link rel="stylesheet" href="{% static 'wickedpicker/stylesheets/wickedpicker.css' %}">
    <script src="{% static 'wickedpicker/src/wickedpicker.js' %}"></script>
    
    
    <script type="text/javascript">
		
        
		//NUMBER OF PI
		const PI = 3
    
        String.prototype.replaceAll = function(org, dest) {
            return this.split(org).join(dest);
        }
        
        
        function start_pi(){ //start selected pi
            var result = confirm("측정을 시작하시겠습니까? 시작시 이전의 데이터는 모두 백업됩니다.");
            if(result){
                
                
                let checkedList = ['1'];// pi 1 is necessary
                //get list of checked pi
                $("input:checkbox[name=checkbox_pi]:checked").each(function(){
					checkedList.push($(this).val());
				});
            
                let currentDate = getDate();
                let currentTime = getTime();
                
                let dateAndTime = currentDate + " " + currentTime;
                //dateAndTime: ex> "2021-07-06 17:13:00"

                let second = document.getElementById('cycle').value;
                
                //start all checked pi
                
                requestPi_start(0,checkedList, dateAndTime, second);
                
                //if start fails, refresh page
                setTimeout(function(){
                    location.reload();
                },5000); 
                return true;
                //checkedList.forEach( piNum => requestPi_start(piNum, dateAndTime, second));

                return true;
            }
            
            
            return false;
        }
        
        function requestPi_start(index, checkedList, time, second){

            $.ajax({
                        url: 'http://192.168.243.' + checkedList[index] +':8000/restartAll/'+ time + '/' + second,
                        type: 'POST',
                        headers:{
                            'X-CSRFToken': '{{csrf_token}}',
                            
                            },
                        success:function(data){
                            //when last one from the pi list started, refresh page
                            if(index >= checkedList.length - 1){
                                location.reload();
                                return;
                            }
                                
                            requestPi_start(index+1, checkedList, time, second);
                        },
                        error: function(){
                            console.log(`Ajax requestPi_start-${index+1} Error!!`);
                        }
                });
            
            }
        
        
        function end_all(){ //end all pi
            var result = confirm("전체 종료 하시겠습니까?");
            if(result){
                
                requestPi_end(1);

                return true;
            }
            return false;
        }
        
        function requestPi_end(pi_num){
            if(pi_num > PI){
                location.reload();
                return;
            }
            
                $.ajax({
                            url: 'http://192.168.243.' + pi_num +':8000/endAll',
                            type: 'POST',
                            headers:{
                                'X-CSRFToken': '{{csrf_token}}',
                                },
                            success:function(data){
                                    
                                console.log(data);
                                requestPi_end(pi_num+1);
                                
                            },
                            error: function(){
                                console.log(`Ajax requestPi_end-${pi_num} Error!!`);
                                alert(`No.${pi_num} failed to end!!!\n***Please Turn Off Manually***`);
                                requestPi_end(pi_num+1);
                            }
                        });
            
            }
        
        
        function getDate(){
            let time = new Date();

            let year = time.getFullYear();
            let month = '' + (time.getMonth()+1);
            let date = '' + time.getDate();
            
            if(month.length<2)
                month = '0' + month;
            if(date.length<2)
                date='0'+date;
            
            return `${year}-${month}-${date}`;
           
        }
        
        function getTime(){
            let time = new Date();
        
            let hours = '' + time.getHours();
            let minutes = '' + time.getMinutes();
            let seconds = '' + time.getSeconds();
            
            if(hours.length<2)
                hours = '0'+hours;
            if(minutes.length<2)
                minutes = '0'+minutes;
            if(seconds.length<2)
                seconds = '0'+seconds;
                
            return `${hours}:${minutes}:${seconds}`;
        }
        
        
        
    </script>
    
    <style>
        text {
            font: 12px sans-serif;
        }
        svg {
            display: block;
        }
        #chart, svg {
            margin: 0px;
            padding: 0px;
            height: 450px;
            width: 98%;
        }
    </style>
</head>
<body>
	
		{% include 'header.html' %}
	
	<div class="content-container">
		<div class="pi-select">
        <p class="home-title">온습도계 선택</p>
        <a href="http://192.168.243.1:8000/summary"><button class="btn-me">전체 확인</button></a>
		<a href="http://192.168.243.1:8000/"><button>1번</button></a>
		<a href="http://192.168.243.2:8000/"><button>2번</button></a>
		<a href="http://192.168.243.3:8000/"><button>3번</button></a>
		</div>
        
        
        <br>
        
        {% if run_state == 2 %}
        <div class="checkbox-list">
            <div class="checkbox-item">
                <input style='width:auto ;padding:0' type="checkbox" id="piTwo" name="checkbox_pi" value=2 checked>
                <strong>Pi 2</strong>
            </div>
            
            <div class="checkbox-item">
                <input style='width:auto ;padding:0' type="checkbox" id="piThree" name="checkbox_pi" value=3 checked>
                <strong>Pi 3</strong>
            </div>
        </div>
        {% endif %}
        
        <!-- 연결상태 -->
        <div class='pi-list connection'>
            <div class='content-summary2'>
                <div style='margin:5px 0px 5px 0px;'>연결상태</div>
                
                <table class='table-connection'>
                    <tr>
                        <td class='td-connection connection1'>
                            PI.1
                        </td>
                        <td class='td-connection connection2'>
                            PI.2
                        </td>
                        <td class='td-connection connection3'>
                            PI.3
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        
        <!-- 현재시간 -->
        <div class='pi-list'>
            <div class='content-summary2'>
                <div class='time-box'>현재시간</div>
                <span class="time-title2" id="cur_date" >date</span>
                <span class="time-title2" id="cur_time" >time</span>
            </div>
        </div>
        
        <!-- PI.1 기준 (시간 + 주기)--><!-- 경과시간 -->
        <div>
            <p class="time-title2" style="font-size:15px">PI No.1 기준</p>
            
            <div class='pi-list'>
                <div class='content-summary2'>
                    <div class='time-box'>시작시간</div>
                    <span class='time-title2'>{{th_state.start_time|date:"Y-m-d H:i:s"}}</span>
                </div>
                
                {% if run_state == 2 %}
                <div class='content-summary2'>
                    <div class='time-box'>종료시간</div>
                    <span class='time-title2'>{{th_state.end_time|date:"Y-m-d H:i:s"}}</span>
                </div>
                {% else %}
                <div class='content-summary2'>
                    <div class='time-box'>경과시간</div>
                    <span class='time-title2' id='run_time'>run_time</span>
                </div>
                {% endif %}
            
            </div>
            
            <p class="time-title2" id="dataCycle">측정주기: N/A</p>
        </div>
        
        
        <!-- ALL SUMMARY -->
        <div class="content-summary">
        
        <p class="home-title">전체 요약</p>
        
        <table class="table-th">
            <br/>
            <tr>
                <th class='thick'></th>
                <th class='ver-line thick' style='border:3px solid' colspan=2>최대값 데이터</th>
                <th class='ver-line' style='border:3px solid' colspan=2>실시간 데이터</th>
            </tr>
            
            <tr class="tr-bar">
                <th class="ver-line thick"><font>PI NO.</font></th>
                
                <th class="ver-line"><font>최대 습도(%)</font></th>
                <th class="ver-line thick"><font>경과 시간</font></th>
                
                <th class="ver-line"><font>현재 습도(%)</font></th>
                <th class="ver-line thick"><font>온도(°C)</font></th>
                
                <th class="ver-line thick" style='border-top: 3px solid' colspan=2>데이터 조회</th>
                
            </tr>
            <!-- PI No.1 -->
            <tr id="summary1">
                <td class='ver-line thick'>1</td>
                
                <td class='ver-line' id='maxHumidity1'>-</td>
                <td class='ver-line thick' id='maxRunTime1'>-</td>
                
                <td class='ver-line' id='curHumidity1'>-</td>
                <td class='ver-line thick' id='curTemperature1'>-</td>
                
                <td class='ver-line thick' colspan=2>
                <a href='http://192.168.243.1:8000/result'><button class="button5">현재</button></a>
                <a href='http://192.168.243.1:8000/beforeResult'><button class="button5">과거</button></a>
                </td>
            </tr>
            
            <!-- PI No.2 -->
            <tr id="summary2">
                <td class='ver-line thick'>2</td>
                
                <td class='ver-line' id='maxHumidity2'>-</td>
                <td class='ver-line thick' id='maxRunTime2'>-</td>
                
                <td class='ver-line' id='curHumidity2'>-</td>
                <td class='ver-line thick' id='curTemperature2'>-</td>
                
                <td class='ver-line thick' colspan=2>
                <a href='http://192.168.243.2:8000/result'><button class="button5">현재</button></a>
                <a href='http://192.168.243.2:8000/beforeResult'><button class="button5">과거</button></a>
                </td>
            </tr>
            
            <!-- PI No.3 -->
            <tr id="summary3">
               <td class='ver-line thick'>3</td>
                
                <td class='ver-line' id='maxHumidity3'>-</td>
                <td class='ver-line thick' id='maxRunTime3'>-</td>
                
                <td class='ver-line' id='curHumidity3'>-</td>
                <td class='ver-line thick' id='curTemperature3'>-</td>
                
                <td class='ver-line thick' colspan=2>
                <a href='http://192.168.243.3:8000/result'><button class="button5">현재</button></a>
                <a href='http://192.168.243.3:8000/beforeResult'><button class="button5">과거</button></a>
                </td>
            </tr>
            
        </table
        
        <br>
        </div><!-- ALL SUMMARY END -->
        
        
        
        
        <br>
        
		<div class="pi-state">
		
		
        {% if run_state == 1 %}
        <p>온습도계 실행 상태: <strong style="color:#FF4765">실행중</strong> </p>
        </div>
        
        <br>
        <hr class="hr-div">
        <br>
        
        <div class='content-summary2'>
            <button class="btn-endAll" onclick="end_all();">전체 종료</button>
        </div>
        

        {% else %}
        <p>온습도계 실행 상태: <strong style="color:blue">대기중</strong> </p>
        
        </div>
        <br>
        <hr class="hr-div">
        <br>
        
        
        <div class='content-summary2'>
            <table class='table-start'>
        
            <tr>
                <td>
                    측정 주기
                </td>
            </tr>
            <tr>
                <td>
                 <input type="range" id="cycle" name="cycle" value="30" min="5" step="5" max="60"  onInput="setCycle()">
                <label for="cycle" id="cycleLabel">30초</label>
                </td>
                
            </tr>
            </table>
            
            <button class="btn-startAll" onclick="start_pi();">측정<br>시작</button>
        </div>
        
        
        {% endif %}
        
        </div> <!-- content-container -->
        
		<br/><br/>
        <p class="home-title">측정 결과 그래프</p>
        <div id="chart" class='with-3d-shadow with-transitions'>
        <svg></svg>
        </div>

        <br/><br/><br/>
    
    <script type="text/javascript">
        
        
        function getLastThData(piNum){
                
                if(piNum>PI){
                    d3.select('#chart svg')
                        .datum(th_data)
                        .call(chart); //draw chart when getting data is done

                    nv.utils.windowResize(chart.update);
                    
                    th_data=[];
                    return;
                }
                
                $.ajax({
                            url: 'http://192.168.243.'+piNum+':8000/getLastThData/'+ {{run_state}},
                            type: 'POST',
                            headers:{
                                'X-CSRFToken': '{{csrf_token}}'
                                },
                            success:function(data){
                                //show data on table
                                if(data.length==0){
                                    //console.log(`PI No.${piNum} no data`);
                                }
                                else if(data == "None"){
                                    //console.log(`PI No.${piNum} not running`);
                                }
                                else{
                                    
                                    //show cycle
                                    if(piNum==1 && data.length>1){
                                        let last = data[0].fields.run_time;
                                        let before = data[1].fields.run_time;
                                        let cycleHtml = document.getElementById('dataCycle');
                                        cycleHtml.innerHTML = `측정주기: 약 ${last-before}초`
                                    }
                                    
                                    //show data on graph
                                    updateGraph(data, piNum);
                                    
                                    
                                    //add data to the table
                                    $('#curHumidity'+piNum).html(data[0].fields.humidity);
                                    $('#curTemperature'+piNum).html(data[0].fields.temperature);
                                    
                                }
                                
                                
                                getLastThData(piNum+1);
                                
                            },
                            error: function(){
                                console.log(`PI No.${piNum} Ajax getLastThData Error!!`);
                                getLastThData(piNum+1);
                            }
                        });
            
            }
        
        function hideElement(piNum){// hide data that is not running
			$.ajax({
                    url: 'http://192.168.243.' + piNum +':8000/checkRunning',
                    type: 'POST',
                    headers:{
                        'X-CSRFToken': '{{csrf_token}}'
                         },
                    success: function(data){ //data == run_state
						if(data == 2){
							
                            $('#summary'+piNum).hide();
						}
                    },
                    error: function(){
                        console.log("hideElement Error occured!!");
                    }
                })
		}
        
        function getAllThState(piNum){
            
            if(piNum>PI)
                return;
            
            $.ajax({
                        url: 'http://192.168.243.'+piNum+':8000/getAllThState/'+ {{run_state}},
                        type: 'POST',
                        headers:{
                            'X-CSRFToken': '{{csrf_token}}'
                            },
                        success:function(data){
                            //console.log(data);
                            $('#error-pi'+piNum).remove();
                            
                            if(data == 'None'){
                                //console.log(`PI No.${piNum} not running`);
                            }
                            else{
                                $('#maxHumidity'+piNum).html(data[0].fields.max_hum);
                                $('#maxRunTime'+piNum).html(data[0].fields.run_time_str);
                                
                            
                            }
                            
                            getAllThState(piNum+1);
                            
                        },
                        error: function(){
                            console.log(`PI No.${piNum} Ajax getThState Error!!`);

                            // show error when connection is lost
                            if($('#error-pi'+piNum).length==0){
                                $('#summary-pi'+piNum).prepend(
                                "<strong id='error-pi"+piNum+ "'" + " style='color:red; font-size:25px;'>Connection Lost!</strong>"
                                )
                            }
                            
                            getAllThState(piNum+1);
                        }
                    });
            
        }
        
        //******GRAPH
        var chart = nv.models.lineWithFocusChart();
        
        //globalData
        var th_data=[]
        
        nv.addGraph(function() {
        var dataList = new Array();

	
        var th_data = [
        {
            "key": "습도(%)",
            "color": "#00ace6",
            "values": dataList
        }]
	
        function xAxisLabel(time){
                var hours = Math.floor(time / 3600);
                time = time - hours * 3600;
                var minutes = Math.floor(time/60);
                var seconds = time - minutes * 60;
                
                if(hours<10)
                    hours = '0' + hours;
                if(minutes<10)
                    minutes = '0' + minutes;
                if(seconds<10)
                    seconds = '0' + seconds;

                if(hours>0)
                    str = hours + "시간 " + minutes+ "분 ";
                else
                    if(minutes>0)
                        str = minutes+ "분 " + seconds + "초";
                    else
                        str = seconds + "초";
                
                return str;
        }
        //d3.format(',f') ex) 68.12 -> 68
        chart.xAxis.tickFormat((time)=> xAxisLabel(time)).axisLabel("시간(시, 분, 초)");
        chart.x2Axis.tickFormat((time)=> xAxisLabel(time));


        //chart.yDomain([50,100]);
        chart.yTickFormat(d3.format(',.1f'));

        d3.select('#chart svg')
            .datum(th_data) //push in datat
            .call(chart); // render chart

        nv.utils.windowResize(chart.update);

        return chart;
    });
    
        function updateGraph(data, piNum){
            
            var dataList = new Array();
            
            $.each(data, function(key, value){
                var graph = new Object();
                graph.x = value.fields.run_time;
                graph.y = value.fields.humidity;
                graph.series = piNum;  
                                          
                dataList.push(graph);                            
                })
                
            //make fixed color for each PI data
            let fixedColor = Math.floor(piNum*0.001152*16777215).toString(16);
            
            th_data.push({
                "key": `PI-${piNum} 습도(%)`,
                "color": "#"+fixedColor,
                "values": dataList
            });
            
            

            return chart;
                
            
        }
        
        //****** Graph END
        

        
        function checkRunning(){ //check the running state and change color of the box
            
            function changeColor(piNum){
                $.ajax({
                    url: 'http://192.168.243.' + piNum +':8000/checkRunning',
                    type: 'POST',
                    headers:{
                        'X-CSRFToken': '{{csrf_token}}'
                         },
                    success: function(data){ //data == run_state
						if(data == 2){ // not running
							$('.connection'+piNum).css('background-color','#6eff3d');
						}
                        else if(data == 1){
                            $('.connection'+piNum).css('background-color','#0ea800');
                        }
                    },
                    error: function(){
                        // error - change connection state to red
                        $('.connection'+piNum).css('background-color','#ff2b2b');
                        console.log("checkRunning Error occured!!");
                    }
                })
            }
            
            for(piNum=1; piNum <= PI; piNum++)
            {
                changeColor(piNum);
            }
            
        }
        
        setInterval(checkRunning, 5000);
        
        function refreshData(){
            
            getAllThState(1);
            getLastThData(1);

        }
        
        refreshData();

			
        if( {{run_state}} == 1){
			
			for(piNum=1; piNum <= PI; piNum++){
				hideElement(piNum); //hide pi tables that are not running
			}
			
            setInterval(refreshData, 2000); // refresh every x seconds
		}

    </script>
    
    
    
    <script type="text/javascript">
        let currentDate = document.getElementById("cur_date");
        let currentTime = document.getElementById("cur_time");
        function clock(){
            
            
            
            if({{run_state}} == 1){
                getRunTime();
            }
           
           currentDate.innerText = getDate();
           currentTime.innerText = getTime();
        }
        clock();
        setInterval(clock,1000);
        
        function getRunTime(){ //경과 시간 계산하여 출력
            let runTime = document.getElementById('run_time');
            
            let end = new Date('{{th_state.start_time|date:"Y/m/d H:i:s"}}');
            
            let cur = new Date();
            let milisecond = cur-end;
            let run = new Date(milisecond);
            
            let hours = ('0' + parseInt(milisecond /1000 /60/60)).slice(-2);
            let minutes = ('0' + run.getMinutes()).slice(-2);
            let seconds = ('0' + run.getSeconds()).slice(-2);
            
            let time = hours+':'+minutes+':'+seconds;
            //console.log(time);
            runTime.innerText = time;

        }
        
        function setCycle(){
                  let cycle = document.getElementById('cycle');
                  
                  let cycleLabel = document.getElementById('cycleLabel');
                  cycleLabel.innerHTML = cycle.value+'초';
                           
                  }
        
        function getHMS(HMS){

            var gmt = new Date(HMS); //err ( GMT + 9 + 9 is current value)
            var date = new Date(gmt.getTime() + (gmt.getTimezoneOffset() * 60000)); //-9 hours ( GMT + 9 )
            
            let hours = ('0' + date.getHours()).slice(-2);
            let minutes = ('0' + date.getMinutes()).slice(-2);
            let seconds = ('0' + date.getSeconds()).slice(-2);
            
            let time = hours+':'+minutes+':'+seconds;
            
            return time;
        }
        
        //hide Table when checkbox is not checked
        $(document).ready(function(){
            $('input[type="checkbox"]').click(function(){
                let inputValue = $(this).attr("value"); // == piNum
                $('#summary-pi'+inputValue).toggle();
                $('#summary'+inputValue).toggle();
            });
        });
        </script>
    
</body>
